.section-panier {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
//________ titre entête panier___________
.blocPanier-title {
  border: 1px black solid;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 1rem;
  background-color: $colorsecondary;
  box-shadow: 6px 6px 0px black;
  color: white;
}
// container produit et récapitulatif
#panier-fiche {
  display: flex;
  width: 80%;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  margin-top: 5rem;
}

//_______container des 3 blocs du produit selectionné______
#panier-produit {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;
  align-items: center;
  border: 1px black solid;
  box-shadow: 6px 6px 0px black;
  //_____________ bloc1 image____________
  &_image {
    display: flex;
    width: 45%;
    height: 100%;
    padding: 1rem;
    img {
      display: flex;

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  //_____________ bloc2 ref produit____________

  &_ref {
    display: flex;
    flex-direction: column;
    width: 40%;

    padding-left: 1.5rem;
    border: 1px black solid;
    h2 {
      font-size: 3rem;
      padding-bottom: 2rem;
    }

    p {
      font-size: 2.1rem;
      padding-bottom: 2rem;
    }
  }
  //_____________ bloc3 changer produit affichage prix et poubelle____________

  &_change {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-left: 7rem;
    margin-right: 2rem;
    //_____bloc pour changer quantié produit_________
    .change-select {
      display: flex;
      flex-direction: row;
      button {
        width: 30px;
        height: 40px;
        background: $colorsecondary;
        font-size: 2.5rem;
        color: white;
      }
      button:active {
        background: $colorprimary;
      }
      span {
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        background: rgb(197, 194, 194);
        font-size: 3rem;
      }
    }
    //_______bloc affichage prix_____________
    .change-price {
      margin-top: 2rem;
      font-size: 2.5rem;
    }
    //_______bloc poubelle_____________
    i {
      font-size: 2.8rem;
      color: gray;
      margin-top: 2rem;
    }
    i:hover {
      color: rgb(201, 71, 15);
    }
  }
}
//__________ récapitulatif commande___
#panier-recap {
  display: flex;
  flex-direction: column;
  width: 40%;
  max-height: 100%;
  border: 1px black solid;
  box-shadow: 6px 6px 0px black;
  margin-left: 2rem;
  .title-recap {
    font-size: 3rem;
    color: $colorprimary;
    margin-bottom: 2rem;
  }
  .panier-recap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .trait-design {
    width: 80%;
    border-bottom: 3px solid $colorprimary;
    margin-bottom: 2rem;
  }
}

// formulaire contact
.formContact {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-height: 100%;
  background-color: $colorsecondary;
  color: white;
  padding-bottom: 2rem;
  padding-left: 2rem;
  h2 {
    margin-top: 1rem;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .champs {
    font-size: 2rem;
    margin-left: 3rem;
    input {
      height: 3rem;
      width: 30rem;
      border: 1px black solid;
      box-shadow: 4px 4px 0px black;
    }
  }
  &_Name {
    display: flex;
    justify-content: space-around;
  }
  &_Address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3rem;
  }
}
.affichcontactnone {
  display: none;
}
