.section-panier {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

#panier-fiche {
  display: flex;
  width: 80%;
  align-items: flex-start;
  justify-content: center;
  margin-top: 5rem;
}
//____ block du produit selectionné______
#panier-produit {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px black solid;
  box-shadow: 6px 6px 0px black;
  &_image {
    display: flex;
    width: 35%;
    height: 100%;

    height: 100%;
    margin-left: 2rem;
    margin-right: 2rem;

    img {
      display: flex;

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_ref {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 7rem;
    border: 1px black solid;
    h2 {
      font-size: 3rem;
      padding-bottom: 2rem;
    }
    p {
      font-size: 2rem;
      padding-bottom: 2rem;
    }
  }
  &_change {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 30%;
    margin-left: 7rem;
    margin-right: 2rem;
    .change-select {
      display: flex;
      flex-direction: row;
      button {
        width: 30px;
        height: 40px;
        background: rgb(238, 236, 236);
        font-size: 2.5rem;
      }
      span {
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        background: rgb(197, 194, 194);
        font-size: 3rem;
      }
    }
    .change-price {
      margin-top: 2rem;
      font-size: 2.5rem;
    }
    i {
      font-size: 2.8rem;
      color: rgb(207, 142, 11);
      margin-top: 2rem;
    }
  }
}
//__________ récapitulatif commande___
#panier-recap {
  display: flex;
  flex-direction: column;
  width: 40%;
  max-height: 100%;
  border: 1px black solid;
  box-shadow: 6px 6px 0px black;
  margin-left: 2rem;
  .title-recap {
    font-size: 3rem;
    color: $colorprimary;
    margin-bottom: 2rem;
  }
  .panier-recap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .trait-design {
    width: 80%;
    border-bottom: 3px solid $colorprimary;
    margin-bottom: 2rem;
  }
}
.buttonsuite {
  width: 25%;
  height: 40px;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2.5rem;
  background-color: $colorprimary;
  color: white;
  cursor: pointer;
}
.buttonsuite:hover {
  background-color: $colorsecondary;
}
// formulaire contact
.formContact {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-height: 100%;
  background-color: $colorsecondary;
  color: white;
  padding-bottom: 2rem;
  padding-left: 2rem;
  h2 {
    margin-top: 1rem;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .champs {
    font-size: 2rem;
    margin-left: 3rem;
    input {
      height: 3rem;
      width: 30rem;
      border: 1px black solid;
      box-shadow: 4px 4px 0px black;
    }
  }
  &_Name {
    display: flex;
    justify-content: space-around;
  }
  &_Address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3rem;
  }
}
